<MudContainer   Style="overflow: auto">
    <MudText Class="mt-4" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Motivos de finalização</MudText>
    <MudText Class="mb-6" Align="Align.Center">Motivos de finalização permitem organizar e categorizar sessões finalizadas de forma eficiente.</MudText>
    <div>

        <TableReasonForTermination></TableReasonForTermination>
 
    </div>
</MudContainer>




@code {
    
}