<MudDialog>
    <TitleContent>
        Configurar horário de atendimento
    </TitleContent>
    <DialogContent>
        <MudTextField Style="width: 100%" AutoGrow MaxLines="10" Margin="Margin.Dense" @bind-Value="AbsenceMessage" Label="Mensagem de ausência" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline" AdornmentColor="Color.Primary" />
        <MudSelect Style="width: 100%"  @bind-Value="_value"
                   Variant="Variant.Outlined"
                   Margin="Margin.Dense"
                   Dense="true"
                   Label="Motivo de finalização (opcional)"
            

                   Clearable="true">
            @foreach (var finishService in finishServices)
            {
                <MudSelectItem Value="finishService">@finishService</MudSelectItem>
            }
        </MudSelect>
<div class="d-flex">
        <MudSelect Style="width: 100%"   T="string"
                   Variant="Variant.Outlined"
                   Margin="Margin.Dense"
                   Dense="true"
                   Label="Adicionar Dia"


                   Clearable="true">
            @foreach (var _day in _days)
            {
                <MudSelectItem Style="width: 100%" Value="_day">@_day</MudSelectItem>
            }
        </MudSelect>

        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="das" @bind-Time="_timeStart" />
        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="às" @bind-Time="_timeFinish" />
        
        <MudIconButton Icon="@Icons.Material.Filled.Add"></MudIconButton>
</div>
        <TableDays></TableDays>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

<style>
.mud-dialog-width-sm{
    width: max-content !important;
}

.mud-input{
    width: 100%;
}
</style>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    private TimeSpan? _timeStart = new TimeSpan(00, 45, 00);
    private TimeSpan? _timeFinish = new TimeSpan(00, 45, 00);

    public string[] finishServices =  {
            "Alabama", "Alaska", "Arizona", "Arkansas", "California",
        "Colorado", "Connecticut", "Delaware", "Florida", "Georgia",
        "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas",
        "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts",
        "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana",
        "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico",
        "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma",
        "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota",
        "Tennessee", "Texas", "Utah", "Vermont", "Virginia",
        "Washington", "West Virginia", "Wisconsin", "Wyoming"
};

    public string[] _days =
    {
        "Domingo",  "Segunda-Feira", "Terça-Feira", "Quarta-Feira", "Quinta-Feira", "Sexta-Feira", "Sabado"
    };
    

    public string _value = "Mensagem";
    public string AbsenceMessage = "Volto Logo";

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}