<MudContainer  MaxWidth="MaxWidth.False"  Style="overflow: auto">
    <MudText Class="mt-4" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Usuários</MudText>
    <MudText Class="mb-6" Align="Align.Center">Adicione usuários à sua conta, defina permissões de acesso e acompanhe quem está online.</MudText>
    <div>

        <TableUsers></TableUsers>
 
    </div>
</MudContainer>




@code {
    
}