@inherits LayoutComponentBase


<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>


        <NavMenu>

        </NavMenu>
  

    <MudMainContent Class="layout-left" Style="height: 100vh;
    position: fixed;
    width: 100%;
    ">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>




@code {
    private bool _drawerOpen = false;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;
    public ChatService ChatService = new ChatService();
    public Origin Origin { get; set; } = Origin.BottomRight;
    public int? BadgeContent { get; set; }
    private bool _open = false;
    
    [Parameter]
    public string ContactId { get; set; } // ID do contato (usado na barra de título)

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BadgeContent = 2;
        _theme = new MudTheme()
        {
            PaletteLight = _lightPalette,  // Sua paleta de cores clara
            PaletteDark = _darkPalette,    // Sua paleta de cores escuras
            LayoutProperties = new LayoutProperties(),
            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" }
                },
                H1 = new H1() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                H2 = new H2() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                H3 = new H3() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                H4 = new H4() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                H5 = new H5() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                H6 = new H6() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                Body1 = new Body1() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                Body2 = new Body2() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                Button = new Button() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                Caption = new Caption() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } },
                Overline = new Overline() { FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" } }
            }
        };
    }
    



    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#1ec8a5",
        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "rgba(255,255,255,0.8)",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        Secondary = "#000",
        SecondaryContrastText = "#000",
        Tertiary = "#e6e6e6",
        TertiaryContrastText = "#000",
    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#1ec8a5",
        Surface = "#1e1e2d",
        Background = "#1a1a27",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.8)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#b2b0bf",
        TextSecondary = "#000",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}


