<MudContainer   Style="overflow: auto">
    <MudText Class="mt-4" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Departamentos</MudText>
    <MudText Class="mb-6" Align="Align.Center">Departamentos são usados para organizar usuários, direcionar o chatbot e facilitar transferências dentro do chatPro. Eles também podem ser utilizados em widgets.</MudText>
    <div>

        <TableDepartment></TableDepartment>
 
    </div>
</MudContainer>




@code {
    
}