<MudDialog Style="width: max-content !important;">
    <TitleContent>
        Adicionar Contatos
    </TitleContent>
    <DialogContent>
        <div class="form">
           

            <div class="flex-column">
                <label>Nome</label>
            </div>
            <div class="inputForm">
                <MudIcon Icon="@Icons.Material.Outlined.Title" />
                <input type="text" class="input" placeholder="Digite o título" @bind="AddItem.Name" required />
            </div>

            <div class="flex-column">
                <label>Telefone</label>
            </div>
            <div class="inputForm">
                <MudIcon Icon="@Icons.Material.Outlined.CellTower" />
                <input type="text" class="input" placeholder="Digite a descrição" @bind="AddItem.Tel" required />
            </div>

         
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancelar</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Adicionar</MudButton>
    </DialogActions>
</MudDialog>

@code {



    // Define a propriedade que receberá o item editado
    [Parameter]
    public List<ContactsClass> Contacts { get; set; } = new List<ContactsClass>();

    
    [Parameter]
    public ContactsClass AddItem { get; set; }

    [Inject]
    private ISnackbar snackBar { get; set; }

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    private ContactsClass contactsclass = new ContactsClass();

  


    protected override void OnInitialized()
    {
        AddItem ??= new ContactsClass();
    }

   

    private void Submit()
    {
        if (ValidateItem(AddItem))
        {
            var newItem = new ContactsClass
            {
                Id = 1,
                Name = AddItem.Name,
                Tel = AddItem.Tel,
            };

            Contacts.Add(newItem);
            ShowSuccessMessage("Usuário adicionado com sucesso!");
            MudDialog.Close(DialogResult.Ok(newItem)); // Retorne o novo item adicionado
        }
        else
        {
            ShowErrorMessage("Preencha todos os campos obrigatórios!");
        }
    }

    
    private void ShowSuccessMessage(string message)
    {
        snackBar.Add(message, Severity.Success);
    }

    private bool ValidateItem(ContactsClass item)
    {
        if (item == null)
            return false;

        return !string.IsNullOrWhiteSpace(item.Name) &&
               !string.IsNullOrWhiteSpace(item.Tel);
    }


    // Método para exibir mensagens de erro ao usuário
    private void ShowErrorMessage(string message)
    {
        // Implemente a lógica para mostrar a mensagem de erro, pode ser um MudSnackbar, dialog, etc.
        snackBar.Add(message, Severity.Error);
    }

    private void ShowSuccessMessage()
    {
       
    }

    private void Cancel()
    {
        MudDialog.Cancel(); // Fecha o diálogo sem fazer nada
    }
}
