<MudContainer   Style="overflow: auto">
    <MudText Class="mt-4" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Contatos</MudText>
    <MudText Class="mb-6" Align="Align.Center">Gerencie seus contatos no chatPro. No momento, está disponível a Importação de contatos</MudText>
    <div>

        <TableContacts></TableContacts>
 
    </div>
</MudContainer>




@code {
    
}